[Desktop Entry]
Name=AULA F108 Pro Manager
GenericName=Mechanical Keyboard Controller
Comment=Native Linux GUI & Driver Suite for AULA F108 Pro Three-Mode RGB Keyboard
Exec=/home/fjorge/.local/bin/f108-pro-gui
Icon=/mnt/Files/AgenteLocalLinux/AULASetup/f108-pro-gui/assets/icons/tab_customkey.png
Terminal=false
Type=Application
Categories=Utility;HardwareSettings;Settings;
Keywords=aula;keyboard;f108;f108pro;rgb;tft;mechanical;
StartupNotify=true
